@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background: white
    url('https://labs.learnosity.com/solutions/sales-enablement/custom-ui/blue-riding-hood/assets/img/bricks.png')
    repeat;
}

.lobster-regular {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1200px;
  min-height: 700px;
  margin: 20px auto;
}
.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  box-shadow: 0px -1px 49px -1px gray;
  position: relative;
  overflow: hidden;
}

.blue {
  color: #1da4ed;
}

.title {
  text-align: center;
}
.title h1 {
  font-size: 50px;
  margin: 0;
}

.text {
  max-width: 650px;
}

.text div {
  margin-bottom: 20px;
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
  font-size: 30px;
}

.primary-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  padding: 10px 40px;
  border-radius: 5px;
  color: #fff;
  border: none;
  background-color: #1ca4ed;
  border-bottom: 4px solid #1993d4;
  text-decoration: none;
}

.animated-rainbow {
  animation: rainbowShadow 7s infinite;
}

@keyframes rainbowShadow {
  0% {
    box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.8); /* Red */
  }
  16% {
    box-shadow: 0 0 10px 2px rgba(255, 165, 0, 0.8); /* Orange */
  }
  33% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 0, 0.8); /* Yellow */
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(0, 128, 0, 0.8); /* Green */
  }
  66% {
    box-shadow: 0 0 10px 2px rgba(0, 0, 255, 0.8); /* Blue */
  }
  83% {
    box-shadow: 0 0 10px 2px rgba(75, 0, 130, 0.8); /* Indigo */
  }
  100% {
    box-shadow: 0 0 10px 2px rgba(238, 130, 238, 0.8); /* Violet */
  }
}
